.main {
    font-family: sans-serif;
    padding: 20px;
    /* background: #f7f7f7; */
    background: #151515e3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: aquamarine;
    transition: all 1s ease-in-out;
  }

  .main-section{
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form, #movie-list {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .movie-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;
  }

  .movie-row {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  
  #review-section, #review-list {
    margin: 30px auto;
    padding: 20px;
    background: #fff8dc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  form input, form select, select {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0a74da;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0956a0;
  }
  

  /* light theme */
.main.light{
    background: #f7f7f7;
    color: black;
}